<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit</title>
  </head>
  <body>
    <h1>Edit Stash Yarn</h1>
    <form action='/yarns/<%=stash.id%>?_method=PUT' method='POST'>
      Name: <input type="text" name="name" value='<%=stash.name%>'/><br/>
      Color: <input type="text" name="color" value='<%=stash.color%>'/><br/>
      Weight: <input type="text" name="weight" value='<%=stash.weight%>'/><br/>
      Yards: <input type="number" name="yards" value='<%=stash.yards%>'/><br/>
      purchaseDate: <input type="date" name="purchaseDate" value='<%=stash.purchaseDate%>'/><br/>
      Number of Skeins: <input type="number" name="qty" value='<%=stash.qty%>'/><br/>
      <br/>

      <input type='submit' name='' value='Submit Changes'/>
    </form>
  </body>
</html>
