<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Message in a Bottle</title>
    <link rel="stylesheet" href="/global.css">
    <%- include('../partials/head') %>
  </head>
  <header>
    <%- include('../partials/header') %>
  </header>
  <body>

    <div>

<% random=Math.floor(Math.random()*quotes.length) %>

<h2 id = 'quote'><%=quotes[random].quote%> <br> -<% if(quotes[random].who === ''){ %>
Unknown
<% } else { %>
<%=quotes[random].who%>
<% } %></h2>
<div id = "wherewhen">
<p><%=quotes[random].when%> <%=quotes[random].where%></p> <p><em>Validated? </em> --> <% if(quotes[random].factChecked === true){ %>
This statement has been checked to be true or at least the statement is an opinion and the information for that opinion is accurate according to a third party.
<% } else { %>
This statement or its related informaion has not been shown to be accurate by a third party.
<% } %></p>
</div>

<button class ='button' type="button"><a href="/homepage/<%=quotes[random].id%>/edit">Edit this bottle</a></button>
    </div>

<br>

<form class = 'button' action = "/homepage/<%=quotes[random].id%>?_method=DELETE" method="POST">
  <input type="submit" value="DELETE this bottle">
</form>

<br>



<!-- <form action = "https://www.google.com/search" class = "googlebar">
  <a href="#"></a>
  <input placeholder = "Search Google" type = "text"/>
</form> -->

<!-- <form className='whsearchbar' action='https://www.wowhead.com/search'>
                <a href="#"></a>
                <input placeholder='search wowhead' type='text' name='q' />
            </form> -->

<div id = "googlebar">
  <script async src="https://cse.google.com/cse.js?cx=044ba375904f24501">
  </script>
  <div class="gcse-searchbox-only"></div>
</div>


  </body>
  <%- include('../partials/jquery') %>
</html>
