<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Message in a Bottle</title>
    <link rel="stylesheet" href="/global.css">
  </head>
  <header>
    <%- include('../partials/header') %>
  </header>
  <body>

    <div>

<% random=Math.floor(Math.random()*quotes.length) %>

<h2 id = 'quote'><%=quotes[random].quote%> <br> -<% if(quotes[random].who === ''){ %>
Unknown
<% } else { %>
<%=quotes[random].who%>
<% } %></h2>
<div id = "wherewhen">
<p><%=quotes[random].when%> <%=quotes[random].where%></p> <p>Fact Checked? <% if(quotes[random].factChecked === true){ %>
This statement has been checked to be true or at least the statement is an opinion and the information for that opinion is accurate according to a third party.
<% } else { %>
This statement or its related informaion has not been shown to be accurate by a third party.
<% } %></p>
</div>

<button type="button"><a href="/homepage/<%=quotes[random].id%>/edit">Edit this bottle</a></button>
    </div>

<br>

<form action = "/homepage/<%=quotes[random].id%>?_method=DELETE" method="POST">
  <input type="submit" value="DELETE this bottle">
</form>

<br>


<div id = 'googlebar'>
<script async src="https://cse.google.com/cse.js?cx=361e1d526b9834514">
</script>
<div class="gcse-search"></div>
</div>

  </body>
  <%- include('../partials/jquery') %>
</html>
