<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <header>
<%- include('../partials/header') %>
  </header>
  <body>
    <h1>Current Quotes</h1>

    <nav>
      <button type="button"><a href="/homepage/new">Create New</a></button>
    </nav>

    <table>
      <tr>
        <th> Quotes</th>
        <th> Who</th>
        <th> When</th>
        <th> Where</th>
        <th> Fact Checked</th>
        <th> Edit</th>
      </tr>
      <% for(let i = 0; i < quotes.length; i++){ %>
        <tr>
          <td><a href="/homepage/<%=quotes[i].id%>"><%=quotes[i].quote%></a></td>
          <td><%=quotes[i].who%></td>
          <td><%=quotes[i].when%></td>
          <td><%=quotes[i].where%></td>
          <td><%=quotes[i].factChecked%></td>
          <td><a href="/homepage/<%=quotes[i].id%>/edit">Edit</a></td>
            <td><form action = "/homepage/<%=quotes[i].id%>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE">
            </form>
          </td>
        </tr>
    <% } %>
      </table>

      <nav>
        <button type="button"><a href="/homepage/new">Create New</a></button>
      </nav>



  </body>
</html>
