<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bottle Library</title>
    <link rel="stylesheet" href="/global.css">
  </head>
  <header>
    <%- include('../partials/header') %>
  </header>
  <body>
    <h1>Current Bottles</h1>
    <div>
    <table border=1 frame=void rules=rows>
      <tr class = 'trheader'>
        <th> Quotes</th>
        <th> Who</th>
        <th> When</th>
        <th> Where</th>
        <th> Validated</th>
        <th> Edit</th>
      </tr>
      <% for(let i = 0; i < quotes.length; i++){ %>
        <tr>
          <td><%=quotes[i].quote%></td>
          <td><%=quotes[i].who%></td>
          <td><%=quotes[i].when%></td>
          <td><%=quotes[i].where%></td>
          <td><% if(quotes[i].factChecked === true){ %>
          Yes
          <% } else { %>
          No
          <% } %></td>
          <td><button class='button'><a href="/homepage/<%=quotes[i].id%>/edit">Edit</a></button></td>
            <td><form action = "/homepage/<%=quotes[i].id%>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE">
            </form>
          </td>
        </tr>
    <% } %>
      </table>
      </div>
  </body>
</html>
