<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <h1>Current Quotes</h1>

    <nav>
      <button type="button"><a href="/homepages/new">Create New</a></button>
    </nav>

    <table>
      <tr>
        <th> Yarn</th>
        <th> Color</th>
        <th> Weight</th>
        <th> Yards</th>
        <th> Skeins</th>
        <th> Edit</th>
      </tr>
      <% for(let i = 0; i < quotes.length; i++){ %>
        <tr>
          <td><a href="/homepages/<%=quotes[i].id%>"><%=quotes[i].quote%></a></td>
          <td><%=quotes[i].quote%></td>
          <td><%=quotes[i].who%></td>
          <td><%=quotes[i].when%></td>
          <td><%=quotes[i].where%></td>
          <td><a href="/homepages/<%=quotes[i].id%>/edit">Edit</a></td>
            <td><form action = "/homepages/<%=quotes[i].id%>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE">
            </form>
          </td>
        </tr>
    <% } %>
      </table>

      <nav>
        <button type="button"><a href="/homepages/new">Create New</a></button>
      </nav>



  </body>
</html>
