<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <h1>Current Stash</h1>

    <nav>
      <button type="button"><a href="/yarns/new">Create New</a></button>
    </nav>

    <table>
      <tr>
        <th> Yarn</th>
        <th> Color</th>
        <th> Weight</th>
        <th> Yards</th>
        <th> Skeins</th>
        <th> Edit</th>
      </tr>
      <% for(let i = 0; i < stash.length; i++){ %>
        <tr>
          <td><a href="/yarns/<%=stash[i].id%>"><%=stash[i].name%></a></td>
          <td><%=stash[i].color%></td>
          <td><%=stash[i].weight%></td>
          <td><%=stash[i].yards%></td>
          <td><%=stash[i].qty%></td>
          <td><a href="/yarns/<%=stash[i].id%>/edit">Edit</a></td>
            <td><form action = "/yarns/<%=stash[i].id%>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE">
            </form>
          </td>
        </tr>
    <% } %>
      </table>

      <nav>
        <button type="button"><a href="/yarns/new">Create New</a></button>
      </nav>



  </body>
</html>
