<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show</title>
  </head>
  <body>
    <h1>Show Stash Yarn</h1>
    <div class="">
<button type="button"><a href="/yarns">Back to the Stash</a></button>
<br>
<h5>Yarn</h5>
<p><%=stash.name%></p>
<h5>Color</h5>
<p><%=stash.color%></p>
<h5>Weight</h5>
<p><%=stash.weight%></p>
<h5>Yardage</h5>
<p><%=stash.yards%></p>
<h5>Number of Skeins</h5>
<p><%=stash.qty%></p>
<h5>Purchase Date</h5>
<p><%=stash.purchaseDate%></p>







    </div>


  </body>
</html>
