<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show</title>
  </head>
  <body>
    <h1>Show Quote</h1>
    <div class="">
<button type="button"><a href="/homepages">Back to the Quotes</a></button>
<br>
<h5>Quote</h5>
<p><%=quotes.quote%></p>
<h5>Who</h5>
<p><%=quotes.who%></p>
<h5>When</h5>
<p><%=quotes.when%></p>
<h5>Where</h5>
<p><%=quotes.where%></p>
<h5>Fact Checked</h5>
<p><%=quotes.factChecked%></p>

    </div>


  </body>
</html>
